<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" class="form-control" required name="name" [(ngModel)]="name" placeholder="Hazim">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" required [minlength]="10" name="address" [(ngModel)]="address"
      placeholder="Hazim">
  </div>
  <div class="mb-3">
    <label for="creditCard" class="form-label">Credit Card</label>
    <input type="text" class="form-control" required [minlength]="16" inputmode="numeric" maxlength="16"
    pattern="^(0|[1-9][0-9]*)$" 
      name="creditCard" [(ngModel)]="creditCard"
      placeholder="XXXX XXXX XXXX XXXX">
  </div>
  <div class="mb-3">
    <button type="submit" [disabled]="form.invalid" class="btn btn-info" >Checkout</button>
  </div>
</form>